##
##  Agentic Software Engineering (ASE)
##  Copyright (c) 2025-2026 Dr. Ralf S. Engelschall <rse@engelschall.com>
##  Licensed under GPL 3.0 <https://spdx.org/licenses/GPL-3.0-only>
##

{% set name = "ase-task-edit" %}
{% set claude_flags = "-T -R -A" %}
{% set font_size = 18 %}

{% include "common-prolog.tape.njk" %}

Type '/ase-task-edit hello'
Enter

Wait+Screen /DONE/
Sleep 2s
Down
Sleep 1s
Down
Sleep 1s
Down
Sleep 1s
Down
Sleep 2s
Type 'Change the color of the output to red. Change the default subject to "Universe".'
Enter

Wait+Screen /DONE/
Sleep 2s
Enter

Wait+Screen /⏸ claudeX/
Sleep 8s

{% include "common-epilog.tape.njk" %}

