##
##  Agentic Software Engineering (ASE)
##  Copyright (c) 2025-2026 Dr. Ralf S. Engelschall <rse@engelschall.com>
##  Licensed under GPL 3.0 <https://spdx.org/licenses/GPL-3.0-only>
##

{% set name = "ase-meta-persona" %}
{% set claude_flags = "-T -R -A" %}
{% set font_size = 18 %}

{% include "common-prolog.tape.njk" %}

Type "/ase-meta-persona writer"
Enter
Sleep 1s
Wait+Screen /⏸ claudeX/
Type "Who is Ralf S. Engelschall?"
Enter
Sleep 1s
Wait+Screen /⏸ claudeX/
Sleep 8s

Type "/ase-meta-persona engineer"
Enter
Sleep 1s
Wait+Screen /⏸ claudeX/
Type "Who is Ralf S. Engelschall?"
Enter
Sleep 1s
Wait+Screen /⏸ claudeX/
Sleep 8s

Type "/ase-meta-persona telegrapher"
Enter
Sleep 1s
Wait+Screen /⏸ claudeX/
Type "Who is Ralf S. Engelschall?"
Enter
Sleep 1s
Wait+Screen /⏸ claudeX/
Sleep 8s

Type "/ase-meta-persona caveman"
Enter
Sleep 1s
Wait+Screen /⏸ claudeX/
Type "Who is Ralf S. Engelschall?"
Enter
Sleep 1s
Wait+Screen /⏸ claudeX/
Sleep 8s

{% include "common-epilog.tape.njk" %}

